.productimg {
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    border-width: 2px;
    border-radius: 8px;
    border-color: blue;
    border-style: solid;
}